/* imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Norse Bold";
  src: url("fonts/norse/Norsebold.otf");
}

/* general */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --dark-bg: rgba(0, 0, 0, 0.55);
  --grey: #e5e7eb;
  --white: #ffffff;
  --main-bg: #f9fafb;

  --accent-color: rgb(43, 93, 231);
  --error-color: rgb(185, 0, 0);
  --theme-color: #596d48;

  --side-shadow: 3px 2px 4px #c5c7ce;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  font-size: clamp(1rem, 0.75rem + 0.75vw, 1.3rem);
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

:focus {
  outline-color: var(--accent-color);
}

/* background */
#background {
  background: url("images/background.jpg") 50% 70% / cover no-repeat;
  display: flex;
  flex-direction: column;
  color: var(--white);
  flex: 2;
  align-items: stretch;
}

#logo-container {
  background-color: var(--dark-bg);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: "Norse Bold", sans-serif;
  cursor: default;
  padding: 0rem 2rem;
}

#logo-container img {
  max-height: 100%;
  padding: 0.5rem;
  font-family: sans-serif;
  font-size: 1rem;
}

#background-footer {
  text-align: center;
  justify-content: center;
  margin: 1em;
  font-size: 0.8em;
}

#background-footer a {
  color: var(--white);
}

#background > div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* odin logo offset from top */
.background-separator {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.background-separator:first-child {
  flex: 2;
}

.background-separator:last-child {
  flex: 3;
}

/* main */
#main-container {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}

#form-header {
  margin: 0em 2em;
  max-width: 28em;
}

.bottom-sep {
  margin-bottom: 1em;
}

.bold {
  font-weight: 600;
}

/* form */
form {
  background-color: var(--white);
  padding: 1em 2em;
  box-shadow: var(--side-shadow);
  margin: 1em 0px;
}

legend {
  font-weight: 900;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

div.field-row {
  padding: 0;
  border: none;
  display: flex;
  gap: 3rem;
}

div.field-row > div {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

label {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: bold;
  opacity: 0.75;
}

input {
  border: 1px solid var(--grey);
  padding: 0.4em;
  border-radius: 0.2em;
  outline: none;
  width: 30ch;
}

input:user-invalid {
  border-color: var(--error-color);
}

input:focus {
  border-color: var(--accent-color);
  box-shadow: var(--side-shadow);
}

/* submit-section */
#form-footer {
  margin: 0.5em 2em;
  font-size: 0.8em;
}

#form-footer button {
  background-color: var(--theme-color);
  color: var(--white);
  border: none;
  box-shadow: var(--side-shadow);
  padding: 1.25ch 3em;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 2em;
}

#form-footer button:active {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35) inset;
}

#form-footer a {
  color: var(--theme-color);
  font-weight: bold;
  text-decoration: none;
}
